#body {
  font-family: 'Eczar', serif;
  text-align: center;
  color: white;
  font-size: 25px;
  background: linear-gradient(#0077be, #20556b);
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  overflow: auto;

}

#body h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}

.map-container {
  width: 50vw;
  height: 70vh;
  border-radius: 5vw;
  overflow: hidden;
  border: 10px solid rgb(25, 57, 82);
  display: flex;
  align-items: right;
  /* margin: -55px auto; */
  /* position: absolute; */
  /* top: 65%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}


.weather-section {
  color: white;
  display: flex !important;
  font-size: 20px;
  /* flex-direction: column !important; */
  justify-content: left !important;
  /* margin-right: 75%; */
  width: 20%;
  padding: auto;
  border-radius: 5vw;
  border-color: antiquewhite;
  border: white;

}
.movieContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: right !important;
  width: 30%;
  padding: 1rem;
  font-size: 30px; 
}


.textbox {
  text-align: center;
  /* color: white; */
  /* background-color: rgb(25, 57, 82); */
  font-size: 40px;
  display: flex;

  align-items: center;
}

.form-control {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

.movie-section {
  display: flex !important;
  flex-direction: column !important;
  justify-content: right !important;
  
 
  width: 30%;
  font-size: 30px;
  /* padding: auto; */
}