#body {
  font-family: 'Eczar', serif;
  text-align: center;
  color: white;
  font-size: 25px;
  /* background-color: #20556b; */
  background: linear-gradient(#0077be, #20556b);
  /* background-image: url('./data/images/circleEarth.png'); */
  background-repeat: no-repeat;
  background-position: center 35px;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 1rem;

}

#body h1 {
  font-size: 60px;
}

.map-container {
  width: 650px;
  height: 650px;
  border-radius: 275px;
  overflow: hidden;
  border: 10px solid rgb(25, 57, 82);
  display: flex;
  align-items: center;
  margin: -55px auto;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.weather-section {
  color: white;
  margin:75px auto;

}


.textbox {
  text-align: center;
  /* color: white; */
  color: rgb(25, 57, 82);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}